apiVersion: v1
kind: Service
metadata:
  name: demo
spec:
  selector:
    app: demo
  type: NodePort
  ports:
    - protocol: TCP
      port: 80        # Service port
      targetPort: 80  # Container port
      nodePort: 30080 # Port on your node accessible from browser
